<html>

<body background="http://res1.windows.microsoft.com/resbox/en/windows/main/c739163d-cffc-48c5-b008-742a0b53424c_5.jpg" no-repeat> 


<table style="width:20%" border='1'>
  <tr>
    <td> <a href="{{url_for('comment')}}"> comment </a> </td>
    <td> <a href="{{url_for('about')}}"> images </a> </td>
    <td> <a href="{{url_for('main')}}"> homepage </a> </td>
  </tr>
</table> 

<p> aviv polack hello, im aviv polack i live in kfar kish </br> </p>

<!---<iframe width="420" height="315" src="https://www.youtube.com/embed/o9F_w0-aY78" frameborder="0" allowfullscreen> </iframe> -->


</body>
</html>
